<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Documentation API annonces</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav>

    </header>
    <main>
        <table>
            <thead>
            <tr>
                <td>URL</td>
                <td>Methode</td>
                <td>Réponse</td>
            </tr>

            </thead>
            <tbody>

            <tr>
                <td>/api/getAnnonces</td>
                <td>GET</td>
                <td>Retourne la liste des annonces</td>
            </tr>

            <tr>
                <td>/api/getAnnonce/{id}</td>
                <td>GET</td>
                <td>Retourne l'annonce qui correspond a l'id envoyer</td>
            </tr>

            <tr>
                <td>/api/postAnnonce</td>
                <td>POST</td>
                <td>Permet de crée une annonce via un json envoyé en POST</td>
            </tr>
            <tr>
                <td>/api/search?X&Y</td>
                <td>GET</td>
                <td>Retourne les annonces qui correspondent au coordonnées d'entreprise saisie</td>
            </tr>

            <tr>
                <td>/api/update</td>
                <td>PUT</td>
                <td>Pour mettre a jour une annonce via un json ( l'id est envoyé dans le json )</td>
            </tr>
            <tr>
                <td>/api/delete/{id}</td>
                <td>DELETE</td>
                <td>Pour supprimer une annonce</td>
            </tr>

            </tbody>
        </table>

    </main>




{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% endblock %}
</body>
</html>
