<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Statistiques API</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav>

    </header>
    <main>
        <table>
            <thead>
            <tr>
                <td>Tag</td>
                <td>Nombre d'annonces qui on le tag</td>
            </tr>
            </thead>
            <tbody>
            {% for key, result in results %}

                <tr>
                    <td>{{ key }}</td>
                    <td>{{ result }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </main>


{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% endblock %}
</body>
</html>
